@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/* Main Color
   Sky:   
    teal-50:  ##f0f9ff clr-white
    teal-100: ##e0f2fe clr-main-lighter
    teal-300: ##bae6fd clr-main-light
    teal-400: ##38bdf8 clr-main
    teal-500: ##0ea5e9 text-clr-main
    teal-600: ##0284c7 clr-main-dark
    teal-800: ##075985 clr-main-darker
    teal-950: ##082f49 black-text
              #082f17 clr-black
*/
@keyframes move-right {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes move-left {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes move-up {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1200 - 1800px:  Normal desktop 
1800px + :      lg desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- desktop
- lg-desktop

Units:
[1em = 16px]
*/
/*
0 - 600px: 
*/
/*
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == lg-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

::selection {
  background-color: #38bdf8;
  color: #f0f9f9;
}

img {
  max-width: 100%;
  height: auto;
}

img,
span,
a, button,
label,
input, textarea, select {
  display: inline-block;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
}

label {
  cursor: pointer;
}

textarea {
  resize: none;
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0.5;
}

input:disabled {
  cursor: no-drop;
}

input::placeholder,
button::placeholder {
  font-family: inherit;
  font-size: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(1.4rem, 1.34rem + 0.22vw, 1.6rem);
  color: #475569;
}

/* prettier-ignore */
h1, .h1 {
  font-weight: 700;
  font-size: clamp(3.2rem, 2.54rem + 2.22vw, 5.2rem);
  color: #082f49;
}

/* prettier-ignore */
h2, .h2, .main-title,
h3, .h3, .main-subtitle,
h4, .h4, .contact__mail, .cards-gallery .hidden-card__caption__title,
h5, .h5, .tertiary-title, .boxes .box__title, .boxes .side-box__title, .boxes .card__title,
h6, .h6 {
  font-weight: 700;
  color: #082f49;
}

/* prettier-ignore */
h2, .h2, .main-title {
  font-size: clamp(2.8rem, 2.3rem + 1.78vw, 4rem);
}

/* prettier-ignore */
h3, .h3, .main-subtitle {
  font-size: clamp(2.4rem, 2.2rem + 0.89vw, 3.2rem);
}

/* prettier-ignore */
h4, .h4, .contact__mail, .cards-gallery .hidden-card__caption__title {
  font-size: clamp(1.8rem, 1.74rem + 0.89vw, 2rem);
}

/* prettier-ignore */
h5, .h5, .tertiary-title, .boxes .box__title, .boxes .side-box__title, .boxes .card__title {
  font-size: clamp(1.6rem, 1.65rem + 0.45vw, 1.8rem);
}

/* prettier-ignore */
h6, .h6 {
  font-size: clamp(1.4rem, 1.34rem + 0.22vw, 1.6rem);
}

/* ======== Badges ======== */
.badge {
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  font-size: var(--small-font-size);
}

.badge-gray {
  border-radius: 0.6rem;
  background-color: #eee;
  padding: 0.5rem 1rem;
  width: fit-content;
  font-size: var(--small-font-size);
  color: var(--black-text);
}

body {
  background-color: #f0f9f9;
}

section:nth-of-type(even) {
  background-color: #e0f2fe;
}

body {
  overflow-x: hidden;
}

section {
  padding-top: clamp(3rem, 1rem + 6.67vw, 9rem);
  padding-bottom: clamp(3rem, 0.3rem + 9vw, 12rem);
}

.container {
  max-width: 120rem;
  margin-inline: auto;
  padding-left: clamp(1rem, 0.34rem + 2.23vw, 3rem);
  padding-right: clamp(1rem, 0.34rem + 2.23vw, 3rem);
}

.main-title {
  color: #f0f9f9;
  margin-bottom: 1rem;
}

.main-subtitle {
  color: #f0f9f9;
  margin-bottom: 1.5rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: clamp(4.4rem, 3.2rem + 4vw, 8rem);
  font-weight: 800;
  color: #cbd5e1;
  letter-spacing: -1px;
}
@media only screen and (min-width: 37.5em) {
  .section-title {
    letter-spacing: -3px;
  }
}

.section-subtitle {
  margin-bottom: clamp(4rem, 2.67rem + 4.44vw, 8rem);
  margin-top: -1rem;
}
@media only screen and (min-width: 37.5em) {
  .section-subtitle {
    margin-top: -2rem;
  }
}

.boxes {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
@media only screen and (min-width: 37.5em) {
  .boxes {
    grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  }
}
.boxes .box {
  padding: clamp(1rem, 0.97rem + 0.11vw, 2rem);
  text-align: center;
  max-width: 60rem;
  justify-self: center;
}
.boxes .box__icon {
  font-size: 4.6rem;
  color: #0ea5e9;
  margin-bottom: 2rem;
}
.boxes .box__title {
  margin-bottom: 1.2rem;
}
.boxes .side-box {
  padding: clamp(1rem, 0.97rem + 0.11vw, 2rem);
  text-align: center;
  max-width: 60rem;
  justify-self: center;
}
@media only screen and (min-width: 37.5em) {
  .boxes .side-box {
    text-align: initial;
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 2rem;
  }
}
.boxes .side-box__icon {
  font-size: 4rem;
  color: #0ea5e9;
  margin-bottom: 2rem;
  margin-top: -0.5rem;
  grid-row: 1/span 2;
}
.boxes .side-box__title {
  margin-bottom: clamp(1rem, 0.01rem + 3.33vw, 2rem);
}
.boxes .card {
  max-width: 50rem;
  justify-self: center;
  background-color: #f0f9f9;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.boxes .card__img {
  width: 100%;
  max-height: 24rem;
}
.boxes .card__title {
  margin: 2rem 2rem 1rem;
}
.boxes .card__desc {
  margin: 1rem 2rem 2rem;
}

.cards-gallery {
  display: grid;
  gap: 3px 1px;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
@media only screen and (min-width: 56.25em) {
  .cards-gallery {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}
.cards-gallery .hidden-card {
  justify-self: center;
  overflow: hidden;
  position: relative;
}
.cards-gallery .hidden-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.cards-gallery .hidden-card__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2rem clamp(1rem, 0.34rem + 2.23vw, 3rem);
  background-color: #f0f9f9;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: 0.3s;
}
.cards-gallery .hidden-card__caption__title {
  margin-bottom: 1rem;
}
.cards-gallery .hidden-card__caption__keywords {
  color: #0ea5e9;
  font-weight: 700;
}
.cards-gallery .hidden-card__caption__keywords .pipe {
  position: relative;
  top: -2px;
}
.cards-gallery .hidden-card:hover .hidden-card__img {
  transform: rotate(10deg) scale(1.3);
}
.cards-gallery .hidden-card:hover .hidden-card__caption {
  transform: scaleY(1);
}

.sm-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.sm-boxes .sm-box {
  padding: 4rem;
  color: #f0f9f9;
  text-align: center;
}
.sm-boxes .sm-box__icon {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
.sm-boxes .sm-box__number {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.sm-boxes .sm-box__desc {
  font-size: 1.8rem;
  font-weight: 600;
}

.pricing-cards {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
}
.pricing-cards .pricing-card {
  min-width: 30rem;
  border-radius: 0.6rem;
  justify-self: center;
  background-color: #fcfcfc;
  text-align: center;
}
.pricing-cards .pricing-card__head {
  padding: 4rem 2rem;
  border-bottom: 1px solid #38bdf8;
}
.pricing-cards .pricing-card__head__type {
  font-size: clamp(1.6rem, 1.65rem + 0.45vw, 1.8rem);
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.pricing-cards .pricing-card__head__price {
  font-size: clamp(3.2rem, 2.54rem + 2.22vw, 5.2rem);
  font-weight: 800;
  color: #082f49;
}
.pricing-cards .pricing-card__head__price::before {
  content: "$";
  font-size: 2.5rem;
  font-weight: 400;
  position: relative;
  top: -4rem;
  margin-right: 1.5rem;
}
.pricing-cards .pricing-card__head__price::after {
  content: "/Mo";
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  right: -1.5rem;
}
.pricing-cards .pricing-card__features {
  border-bottom: 1px solid #38bdf8;
  display: grid;
  justify-items: center;
  color: #082f49;
}
.pricing-cards .pricing-card__features__feature {
  padding: 2rem 1rem;
}
.pricing-cards .pricing-card__features__feature:not(:last-child) {
  border-bottom: 1px solid #38bdf8;
}
.pricing-cards .pricing-card__footer {
  padding: 3rem;
}
.pricing-cards .pricing-card--best {
  background-color: #bae6fd;
  overflow: hidden;
  position: relative;
}
.pricing-cards .pricing-card--best::after {
  content: "Best Price";
  position: absolute;
  top: 26px;
  left: -65px;
  padding: 1rem 7rem;
  background-color: hsl(38, 92%, 50%);
  color: #082f49;
  text-transform: uppercase;
  transform: rotate(-40deg);
}
.pricing-cards .pricing-card--best__footer {
  padding: 3rem;
}

/* ======== Buttons ======== */
.btn, .btn--icon, .btn--icon--black, .btn--icon--white, .btn--icon--main, .btn--text, .btn--text--black, .btn--text--white, .btn--text--main, .btn--bordered, .btn--bordered--main, .btn--full, .tabs-container .tab, .tabs-container .tab--main, .tabs-container .tab--red, .btn--full--hover, .btn--full--white, .btn--full--main {
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}
.btn--full, .tabs-container .tab, .tabs-container .tab--main, .tabs-container .tab--red, .btn--full--hover, .btn--full--white, .btn--full--main {
  padding: 1rem;
  border-radius: 0.6rem;
}
.btn--full:hover, .tabs-container .tab:hover, .tabs-container .tab--main:hover, .tabs-container .tab--red:hover, .btn--full--hover:hover, .btn--full--white:hover, .btn--full--main:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}
.btn--full:active, .tabs-container .tab:active, .tabs-container .tab--main:active, .tabs-container .tab--red:active, .btn--full--hover:active, .btn--full--white:active, .btn--full--main:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}
.btn--full--main {
  background-color: #38bdf8;
  color: #f0f9f9;
}
.btn--full--main:hover {
  background-color: #0284c7;
}
.btn--full--white {
  background-color: #f0f9f9;
  color: inherit;
}
.btn--full--hover {
  background-color: inherit;
  color: #082f49;
}
.btn--full--hover:hover, .btn--full--hover.active {
  background-color: #f6f6f6;
}
.btn--bordered, .btn--bordered--main {
  padding: 2rem;
}
.btn--bordered:hover, .btn--bordered--main:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}
.btn--bordered:active, .btn--bordered--main:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}
.btn--bordered--main {
  border: 1px solid #38bdf8;
}
.btn--text--main {
  color: #38bdf8;
  padding: 3px;
  border-bottom: 1px solid #38bdf8;
}
.btn--text--main:hover {
  color: #0284c7;
  border-bottom: 1px solid #0284c7;
}
.btn--text--white {
  color: #f0f9f9;
}
.btn--text--white:hover {
  color: #38bdf8;
}
.btn--text--black {
  color: #082f49;
}
.btn--text--black:hover {
  color: #0284c7;
}
.btn--icon, .btn--icon--black, .btn--icon--white, .btn--icon--main {
  font-weight: initial;
}
.btn--icon:hover, .btn--icon--black:hover, .btn--icon--white:hover, .btn--icon--main:hover {
  color: #0284c7;
}
.btn--icon--main {
  color: #38bdf8;
}
.btn--icon--white {
  color: #f0f9f9;
}
.btn--icon--black {
  color: #082f49;
}

/* ======== Helper Classes ======== */
.btn--lg {
  padding: 2rem;
}

.btn--sharp {
  border-radius: 0;
}

/* ======== Toggle Button ======== */
.toggle-checkbox {
  /* -webkit-appearance: none;
    appearance: none; */
  display: none;
}

.toggle-btn {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.toggle-btn::before {
  content: "\f00d";
  font-weight: 900;
  background-color: #fff;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-btn {
  background-color: #38bdf8;
}

.toggle-checkbox:checked + .toggle-btn::before {
  content: "\f00c";
  left: 5rem;
  color: #38bdf8;
}

/*
  <label>
    <input class="toggle-checkbox" type="checkbox" checked />
    <div class="toggle-btn"></div>
  </label>
  */
/* ======== Component ======== */
.components-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: minmax(20rem, 1fr);
}

@media screen and (min-width: 568px) {
  .components-container {
    grid-template-columns: repeat(auto-fill, minmax(45rem, 1fr));
  }
}
.component {
  padding: var(--main-padding);
  background-color: var(--component-clr);
  border-radius: 1rem;
  box-shadow: var(--med-box-shadow);
  display: grid;
  gap: 2rem;
  align-content: start; /* In case a component has a fixed height */
}

.component-subtitle {
  margin-top: -1.5rem;
  margin-bottom: 1rem;
  color: var(--text-clr-light);
}

.component-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.component-row:not(:last-of-type) {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee;
}

/* ======== Inputs ======== */
.input-bordered,
.input-borderless {
  width: 100%;
  padding: 1rem;
  transition: var(--trans-dur);
}

.input-bordered {
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.input-borderless {
  border: none;
  background-color: var(--input-bg-clr);
  border-radius: 0.6rem;
}

/* =============== Scroll Bar =============== */
::-webkit-scrollbar {
  width: 1.2rem;
  background-color: #f0f9f9;
  border-radius: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background-color: #bae6fd;
  border-radius: 0.7rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #38bdf8;
}

/* ======== Scroll Top Button ======== */
/* HTML:
  <a href="#" class="scroll-top-btn" id="scroll-top-btn">
    <i class="fa-solid fa-arrow-up"></i>
  </a> 
*/
@media screen and (min-width: 568px) {
  .scroll-top-btn.btn-full-main {
    position: fixed;
    right: 3rem;
    bottom: -100%;
    opacity: 0.8;
    z-index: var(--z-scroll-top-btn);
    /* font-size: var(--sm-icon); */
    /* background-color: var(--clr-main);
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 0.4rem;
      transition: var(--trans-dur); */
  }
  /* .scroll-top:hover {
      background-color: var(--clr-main-darker);
    } */
  .scroll-top.show {
    bottom: 8rem;
  }
}
/* ======== Tabs ======== */
.tabs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.tabs-container:first-of-type {
  margin-bottom: 1.5rem;
}
.tabs-container:nth-of-type(2) {
  margin-bottom: 4rem;
}
.tabs-container .tab--main {
  background-color: #c4eafd;
}
.tabs-container .tab--main:hover, .tabs-container .tab--main.active {
  background: #38bdf8;
  color: white;
}
.tabs-container .tab--red {
  background-color: #fde4e2;
}
.tabs-container .tab--red:hover, .tabs-container .tab--red.active {
  background: hsl(4, 90%, 58%);
  color: white;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 100;
}
.header__container {
  display: flex;
  justify-content: space-between;
  min-height: 9rem;
  align-items: center;
  position: relative;
}
.header__container::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  background-color: #bbb;
  width: calc(100% - clamp(1rem, 0.34rem + 2.23vw, 3rem));
  height: 2px;
}
.header__logo {
  display: flex;
  animation: move-right 0.5s ease-in-out;
}
.header__logo__img {
  height: 3.6rem;
}
.header__nav {
  z-index: 101;
}
.header__nav__link {
  font-size: clamp(1.4rem, 1.34rem + 0.22vw, 1.6rem);
}
@media only screen and (max-width: calc(56.25em - 1px)) {
  .header__nav {
    display: grid;
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    background-color: rgba(3, 105, 161, 0.6);
    min-width: 100%;
    transform: scale(0);
    transform-origin: calc(100% - clamp(1rem, 0.34rem + 2.23vw, 3rem) - 1rem) -4rem;
    transition: 0.3s;
  }
  .header__nav__link {
    padding: 2rem;
    border-bottom: 1px solid rgba(240, 249, 249, 0.3);
  }
  .header__nav__link:hover {
    padding-left: 3rem;
    border-color: #38bdf8;
  }
  .header__nav.toggle {
    transform: scale(1);
    backdrop-filter: blur(5px);
  }
}
@media only screen and (min-width: 56.25em) {
  .header__nav {
    align-self: flex-start;
    min-height: inherit;
    margin-left: auto;
    margin-right: 3rem;
    display: flex;
    gap: 3rem;
    animation: move-left 0.5s ease-in-out;
  }
  .header__nav__link {
    min-height: inherit;
    display: inline-flex;
    align-items: center;
    position: relative;
  }
  .header__nav__link::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
    background-color: #0284c7;
    width: calc(100% + 2rem);
    height: 2px;
    transform: translateX(-50%) scale(0);
    transform-origin: center;
    transition: 0.3s;
  }
  .header__nav__link:hover::after {
    transform: translateX(-50%) scale(1);
  }
}
.header__btns {
  display: flex;
  gap: 2rem;
  animation: move-left 0.5s ease-out;
}
@media only screen and (min-width: 56.25em) {
  .header__btns__theme-btn {
    font-size: 1.4rem;
  }
}
.header__btns__menu-btn {
  width: 2.2rem;
  display: grid;
  gap: 0.5rem;
}
.header__btns__menu-btn__line {
  width: inherit;
  height: 2px;
  background-color: #f0f9f9;
}
.header__btns__menu-btn__line:nth-child(2) {
  transform: scaleX(0.7);
  transform-origin: right;
}
.header__btns__menu-btn:hover .header__btns__menu-btn__line:nth-child(2) {
  transition: 0.3s;
  transform: scaleX(1);
}
@media only screen and (min-width: 56.25em) {
  .header__btns__menu-btn {
    display: none;
  }
}

.footer {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/img/footer.jpg) center top/cover no-repeat;
}
.footer__container {
  padding: clamp(4rem, 2.7rem + 4.44vw, 8rem);
  display: grid;
  justify-items: center;
  gap: clamp(2rem, 1.4rem + 2.22vw, 4rem);
  font-size: clamp(1.6rem, 1.65rem + 0.45vw, 1.8rem);
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
}
.footer__logo {
  height: 3.5rem;
}
.footer__social__text {
  padding: 2rem 1rem;
  border-bottom: 1px solid #f0f9f9;
}
.footer__social__icons {
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.footer__rights {
  text-align: center;
}
.footer__rights__name {
  color: #bae6fd;
}

.hero {
  min-height: 100vh;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url("../assets/img/hero.jpg") 7% 15%/cover no-repeat;
  filter: brightness(50%);
  z-index: -1;
}
.hero__container {
  position: absolute;
  left: 0;
  top: calc(50% + 4.5rem);
  translate: 0 -50%;
  background-color: rgba(3, 105, 161, 0.6);
  padding: 4rem 2rem;
  animation: move-up 0.5s ease-in-out;
  text-align: center;
}
@media only screen and (min-width: 56.25em) {
  .hero__container {
    text-align: initial;
    width: 55%;
    display: grid;
    justify-content: end;
  }
  .hero__container > * {
    max-width: calc(66rem - clamp(1rem, 0.34rem + 2.23vw, 3rem));
  }
}
.hero__desc {
  color: #f0f9f9;
  font-size: clamp(1.6rem, 1.65rem + 0.45vw, 1.8rem);
  line-height: 1.7;
}

.features {
  padding-top: clamp(3rem, 2rem + 3.33vw, 6rem);
  padding-bottom: clamp(3rem, 2rem + 3.33vw, 6rem);
}

.services__img-container {
  display: none;
}
@media only screen and (min-width: 75em) {
  .services__container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 4rem;
  }
  .services__img-container {
    display: initial;
    position: relative;
  }
  .services__img-container::before, .services__img-container::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
  }
  .services__img-container::before {
    background-color: #bae6fd;
    width: 40rem;
    height: 40rem;
  }
  .services__img-container::after {
    background-color: #88d4fc;
    width: 35rem;
    height: 35rem;
  }
  .services__img {
    width: 90%;
    height: 100%;
  }
}

.portfolio__container {
  max-width: 180rem;
}

.about {
  padding-bottom: 0;
  overflow: hidden;
  text-align: center;
}
.about .section-subtitle {
  margin-bottom: clamp(1rem, 6.67rem + 1.11vw, 2rem);
}
.about__text {
  font-size: clamp(1.2rem, 1.14rem + 0.3vw, 1.6rem);
  color: #082f49;
  line-height: 1.7;
}
.about__img {
  position: relative;
  bottom: clamp(-6rem, -3.4rem - 2.23vw, -4rem);
}

.stats {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/stats.png) center/cover no-repeat;
}
.stats__container {
  background-color: rgba(3, 105, 161, 0.6);
}

.contact {
  padding-top: clamp(3rem, 2rem + 3.33vw, 6rem);
  padding-bottom: clamp(3rem, 2rem + 3.33vw, 6rem);
}
.contact__container {
  margin-top: -2rem;
  display: grid;
  place-content: center;
  gap: clamp(1.3rem, 1rem + 1vw, 2rem);
  text-align: center;
}
.contact__message {
  font-weight: 800;
  font-size: clamp(2rem, 1.6rem + 1.33vw, 3.2rem);
  color: #082f49;
}
.contact__mail {
  font-weight: 800;
  color: #0ea5e9;
  transition: 0.3s;
}
.contact__mail:hover {
  color: #0284c7;
}
.contact__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
